/vendor
node_modules
/.phpunit.result.cache
/public/content
/public/css
/public/js
/public/fonts
/public/img
/public/favicon.ico
/public/external-resources
/public/vendor
/public/deploy
/storage/backups
/storage/marketplace
/storage/sass-cache
/storage/twig
/.idea
.env
/.composer
._.DS_Store
